*{
    box-sizing:border-box;
}

.container{
    max-width:100%;
    margin-right:auto;
    margin-left:auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12{
    
    padding:5px;
}

.col-1{
    width:8.33%;
    float:left;
    margin:33%;
}


.col-2{
    width:16.66%;
    float:left;
}

.col-3{
    width:24.99%;
    float:left;
}

.col-4{
    width:33.33%;
    float:left;
}

.col-5{
    width:41.66%;
    float:left;
}

.col-6{
    width:50%;
    float:left;
}

.col-7{
    width:58.33%;
    float:left;
}

.col-8{
    width:66.66%;
    float:left;
}

.col-9{
    width:75%;
    float:left;
}

.col-10{
    width:83.33%;
    float:left;
}

.col-11{
    width:91.66%;
    float:left;
}
.col-12{
    width:100%;
    float:left;
}