body{
    margin:0 auto;
    background-color:black;
}

header{
    text-align:center;
    background-color:darkgoldenrod;;
    color:white;
    line-height:150%;
    margin-bottom:15px;
}

header h1{
    margin-bottom:0px;
}

header h2{
    font-size:18px;
    font-style:italic;
}

/* (max width is 833 px) */
.game-area{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    background-color:rgb(83, 60, 18);
    color:white;
}

.char-titles, .char-health{
    text-align:center;
}

.char-titles{
    font-size:20px;
}

.char-health{
    font-style:italic;
}

.characters-row{
    background-color:black;
    border-radius:5px;
    border-color:black;
    border-style:solid;
}

.char-images img{
    width:22.99%;
    margin:1%;
    padding:0px;
}

.char-images img:hover{

    box-shadow:0 0 5px goldenrod;
}




