body{
    margin:0 auto;
    background-color:black;
}

header{
    text-align:center;
    background-color:darkgoldenrod;;
    color:rgb(255, 246, 215);
    line-height:150%;
    margin-bottom:15px;
}

header h1{
    margin-bottom:0px;
    text-shadow:0 0 5px rgb(230, 169, 15);
}

header h2{
    font-size:18px;
    font-style:italic;
}

h3{
    text-align:center;
    margin-top:5px;
    margin-bottom:5px;
}

/* (max width is 840 px) */
.game-area{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    background-color:rgb(83, 60, 18);
    color:white;
    border-radius:5px;
    border-color:rgb(83, 60, 18);
    border-style:solid;
}

.game-area hr{
    border-bottom:none;
    border: solid goldenrod;
    border-width:1px;
    color:goldenrod;
    width:50%;
}

.char-titles, .char-health{
    text-align:center;
}

.char-titles{
    font-size:20px;
    transition:font-size .25s;
}

.char-health{
    font-style:italic;
}

.characters-row, .enemy-list, .active-enemy{
    
    background-color:black;
    border-radius:5px;
    border-color:black;
    border-style:solid;
}

.images{
    width:100%;
    padding:0px;
    transition:box-shadow .25s;
}

.images:hover{
    cursor:pointer;
    box-shadow:0 0 10px goldenrod;
}


@media screen and (max-width:840px){
    body{
        margin:0 auto;
        background-color:black;
    }
    
    header{
        text-align:center;
        background-color:darkgoldenrod;;
        color:rgb(255, 246, 215);
        line-height:150%;
        margin-bottom:15px;
    }
    
    header h1{
        margin-bottom:0px;
        text-shadow:0 0 5px rgb(230, 169, 15);
    }
    
    header h2{
        font-size:18px;
        font-style:italic;
    }
    
    
    
    /* (max width is 840 px) */
    .game-area{
        width:80%;
        margin-left:10%;
        margin-right:10%;
        background-color:rgb(83, 60, 18);
        color:white;
        border-radius:5px;
        border-color:rgb(83, 60, 18);
        border-style:solid;
    }
    
    .char-titles, .char-health{
        text-align:center;
    }
    
    .char-titles{
        font-size:16px;
    }
    
    .char-health{
        font-style:italic;
    }
    
    .characters-row{
        
        background-color:black;
        border-radius:5px;
        border-color:black;
        border-style:solid;
    }
    
    .char-images img{
        width:22.99%;
        margin:1%;
        padding:0px;
        transition:box-shadow .25s;
    }
    
    .char-images img:hover{
        cursor:pointer;
        box-shadow:0 0 10px goldenrod;
    }
}

@media screen and (max-width: 688px){
    .char-titles{
        font-size:14px;
    }
}

@media screen and (max-width:614px){
    body{
        
        background-color:black;
    }
    
    header{
        text-align:center;
        background-color:darkgoldenrod;;
        color:rgb(255, 246, 215);
        line-height:150%;
        margin-bottom:15px;
    }
    
    header h1{
        margin-bottom:0px;
        text-shadow:0 0 5px rgb(230, 169, 15);
    }
    
    header h2{
        font-size:18px;
        font-style:italic;
    }
    
    
    
   
    .game-area{

      
        background-color:rgb(83, 60, 18);
        color:white;
        border-radius:5px;
        border-color:rgb(83, 60, 18);
        border-style:solid;
    }
    
    .char-titles, .char-health{
        width:100%;
        text-align:center;
    }
    
    .char-titles{
        font-size:16px;
    }
    
    .char-health{
        font-style:italic;
    }
    
    .characters-row{
        width:100%;
        background-color:black;
        border-radius:5px;
        border-color:black;
        border-style:solid;
    }
    
    .char-images img{
        width:100%;
        margin:0%;
        padding:0px;
        transition:box-shadow .25s;
    }
    
    .char-images img:hover{
        cursor:pointer;
        box-shadow:0 0 10px goldenrod;
    }
}


